include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Venue
            th(scope="col") Contact Phone
            th(scope="col") About Event
            th(scope="col") Change
        tbody
          tr
            td 1
            td Example Event Name 1
            td 2024-02-17 10:00
            td Example Venue
            td +1234567890
            td Hobby Hoursing
            td
              button.btn.btn-primary.btn-sm Edit
              button.btn.btn-danger.btn-sm Delete
          tr
            td 2
            td Example Event Name 2
            td 2024-02-17 10:00
            td Example Venue
            td +1234567890
            td Hobby Hoursing
            td
              button.btn.btn-primary.btn-sm Edit
              button.btn.btn-danger.btn-sm Delete
